<h3>Entrada em Estoque</h3>

<form th:action="@{/estoque/entrada}" method="post">

    <select name="livroId" class="form-select mb-3" required>
        <option th:each="livro : ${livros}"
                th:value="${livro.codigo}"
                th:text="${livro.titulo}">
        </option>
    </select>

    <input type="number" name="quantidade"
           min="1"
           required
           class="form-control mb-2">

    <input type="number" step="0.01"
           name="custoAtual"
           required
           class="form-control mb-2">

    <input type="date"
           name="dataEntrada"
           required
           class="form-control mb-3">

    <button class="btn btn-primary">
        Registrar Entrada
    </button>
</form>